<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appender pour afficher les logs sur la console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Attachez l'appender aux loggers souhaités -->
    <root level="debug">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>